<%- include('header', { title: 'Home' }) %>
<section class="home">
    <h2>Welcome to the Language Learning Tool</h2>
    <p>Explore different languages, practice with flashcards, and take quizzes to reinforce your learning. Start building your language skills in a fun and interactive manner!</p>
    <div class="languages">
        <a href="https://www.javatpoint.com/java-tutorial/" target="_blank" class="language">

            <img src="Java.png"  alt="Spanish" class="language-image">
            <h3>Java</h3>
            <p>Java is a versatile, object-oriented programming language widely used for building cross-platform applications.</p>
        </a>
        <a href="https://www.python.org/" class="language" target="_blank">
            <img src="python.jpg" alt="French" class="language-image">
            <h3>Python</h3>
            <p>Python is a powerful, high-level, and easy-to-learn programming language known for its versatility and readability.</p>
        </a>
        <a href="https://www.tutorialspoint.com/cprogramming/index.htm" class="language" target="_blank">
            <img src="C.png" alt="German" class="language-image">
            <h3>C</h3>
            <p>C is a low-level, procedural programming language that provides powerful control over hardware and system resources, making it ideal for system-level programming.</p>
        </a>
        <a href="https://cplusplus.com/doc/tutorial/" class="language"target="_blank">
            <img src="C++.png" alt="Chinese" class="language-image">
            <h3>C++</h3>
            <p>C++ is a high-performance, object-oriented programming language that builds on C, offering features like classes, inheritance, and polymorphism for creating efficient and scalable applications.</p>
        </a>
    </div>
</section>
<%- include('footer') %>
